<div class="content_area">
  <h1>Manage Files</h1>
  <h3>Upload new file</h3>
  <form id="upload-widget" action="/upload_file" method="post" enctype="multipart/form-data" class="dropzone">
	  <div class="fallback">
		<input name="file" type="file" />
	  </div>
  </form>
  <hr/>
  <h3>Current files</h3>
  <% if (files) {%>
  <ul class="list-group">
	  <% for (var i = 0; i < files.length; i++) { %>
	  <li class="list-group-item"><%= files[i] %> <a href="#" class="btn btn-danger" role="button" onclick="deleteFile('<%= files[i] %>')">Delete</a></li>
	  <% } %>
   </ul>
  <% } else { %>
	 <p>There are currently no files.</p>
  <% } %>
</div>
<script>
Dropzone.options.uploadWidget = {
    maxFiles: 1, 
    init: function () {
        // Set up any event handlers
        this.on('queuecomplete', function () {
            window.location.href = "/manage_files?uploadsuccess=true";
        });
    }
};

function deleteFile(filename) {
    if (confirm("Are you sure you want to delete "+filename+"?")) {
        window.location.href = '/delete_file/'+filename;
    }
}
</script>